@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
@{
	var articleSection = Umbraco.Content(1099);
}
	
<div class="container">
	<div class="row">	
		@foreach(var article in articleSection.Children().OrderBy("CreateDate desc").Take(3)) {
			<div class="col-sm-12 col-md-6 col-lg-4">
				<article>
					<header>
						<h3>@article.headline</h3>
						<p><strong>Date:</strong> @article.CreateDate</p>
						<p><strong>Author:</strong> @article.author</p>
					</header>
					<p>@article.shortDescription</p>
					<a href="@article.Url" class="btn btn-primary">Read More</a>
				</article>
			</div>
		}
	</div>
</div>