@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginStatusModel = Members.GetCurrentLoginStatus();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

    var logoutModel = new PostRedirectModel();
    logoutModel.RedirectUrl = "/";
}

@Html.RenderJsHere()

@if (loginStatusModel.IsLoggedIn)
{
	var siteMember = "Welcome " + @loginStatusModel.Name + "!";
	
    <li class="member-greeting">@siteMember</li>

	<li>
		@using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
		{

			<input class="logout-btn" type="submit" value="Logout">
			@Html.HiddenFor(m => logoutModel.RedirectUrl)
		}
	</li>
		
} else {
	
	var loginPage = Umbraco.Content(1126);
	<li><a href="@loginPage.Url">@loginPage.Name</a></li>
}